html, body {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
img {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: aquamarine;
}
main {
    background-color: coral;
}
footer {
    background-color: goldenrod;
}

